<div class="header-container">
    <!-- Library Logo & Name -->
    <a href="./index.html">
    <img src="./online-library-logo.svg" alt="library image for logo">
    <!-- Library Name -->
    Sierra<span>Library</span>
    </a>
        
    <!-- Hamburger Button -->
    <button id="ham-btn" class="ham-menu" aria-label="Hamburger Button"></button>
            
    <!-- Navigation -->
    <nav id="animateme" class="navigation">
        <ul class="navanimate">
            <li>
                <a  class="active" href="index.html">Home</a>
                </li>

                <li>
                    <a href="contact.html">Contact Us</a>
                </li>

                <li class="first-li">
                    <a href="about.html">About Us</a>
                </li>       
            </ul>
        </nav>
</div>    
    